<script src="/jquery-modal-min.js"></script>

<p id="notice" class="kiosk-notice"><%= notice %></p>

<div class="kiosk-header">
  <h1 class="kiosk-title">First it was a Rainforest</h1>
  <h4 class="kiosk-instructions">tap your selection to make an order</h4>
</div>

<div class="grid-container">
  <% @movements.each do |movement| %>
    <a href="#order-modal-<%= movement.id %>" rel="modal:open">
      <div class="grid-item"
      movement_id="<%= movement.id %>"
      movement_display_name="<%= movement.display_name %>">
        <%= image_tag "300px-#{(movement.img_index%12)+1}.png", class: "grid-image" %>
      </div>
    </a>
  <% end %>
</div>

<% @movements.each do |movement| %>
  <div id="order-modal-<%= movement.id %>" class="modal">
    <div class="modal-content">
      <span class="modal-order-line">You are ordering <b><%= movement.display_name %></b></span>
      <span class="modal-order-time">Our fulfilment team will begin delivering your order in approximately <span class="fulfillment-timer">5</span> seconds. </span>
      <%= link_to "Confirm Order", movement_order_path(movement.id), remote: true, method: :get, class: "modal-order-link" %>
    </div>
  </div>
<% end %>
