<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement.name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @movement.display_name %>
</p>

<p>
  <strong>Image index:</strong>
  <%= @movement.img_index %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movement.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @movement.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
